{% extends 'store/main.html' %}
{% load static %}


{% block content %}

<section class="info-container">

    <div class="info">
        <img src="{% static 'images/icon-1.png' %}" alt="">
        <div class="content">
            <h3>Fast Delivery</h3>
            <span>within 30 minutes</span>
        </div>
    </div>

    <div class="info">
        <img src="{% static 'images/icon-2.png' %}" alt="">
        <div class="content">
            <h3>24 / 7 Available</h3>
            <span>call us anytime</span>
        </div>
    </div>

    <div class="info">
        <img src="{% static 'images/icon-3.png' %}" alt="">
        <div class="content">
            <h3>Easy Payments</h3>
            <span>cash or credits</span>
        </div>
    </div>

</section>


<section class="review">

    <div class="box">
        <div class="user">
            <img src="{% static 'images/pic-1.png' %}" alt="">
            <div class="info">
                <h3>John Deo</h3>
                <span>happy client</span>
            </div>
        </div>
        <p>Tasty and fast delivery</p>
    </div>

    <div class="box">
        <div class="user">
            <img src="{% static 'images/pic-2.png' %}" alt="">
            <div class="info">
                <h3>Lily Singh</h3>
                <span>happy client</span>
            </div>
        </div>
        <p>Best range of varieties in oragnic wheat</p>
    </div>

    <div class="box">
        <div class="user">
            <img src="{% static 'images/pic-3.png' %}" alt="">
            <div class="info">
                <h3>Ali Shaikh</h3>
                <span>happy client</span>
            </div>
        </div>
        <p>Good quality</p>
    </div>

    <div class="box">
        <div class="user">
            <img src="{% static 'images/pic-4.png' %}" alt="">
            <div class="info">
                <h3>Dolly Fernandes</h3>
                <span>happy client</span>
            </div>
        </div>
        <p></p>
    </div>

    <div class="box">
        <div class="user">
            <img src="{% static 'images/pic-5.png' %}" alt="">
            <div class="info">
                <h3>Arjun Shetty</h3>
                <span>happy client</span>
            </div>
        </div>
        <p>deliver in short time </p>
    </div>

    <div class="box">
        <div class="user">
            <img src="{% static 'images/pic-6.png' %}" alt="">
            <div class="info">
                <h3>Ira Kashyap</h3>
                <span>happy client</span>
            </div>
        </div>
        <p></p>
    </div>

</section>

{% endblock content %}
